body {
    margin: 0;
}

code {
    background: #424242;
    border: 1px solid rgba(255,255,255,.1);
    padding: 0 .3em;
    display: inline-block;
}

#app {
    display: flex;
    height: 100vh;
}

.box {
    height: 100%;
    width: 50%;
    overflow-y: auto;
}

.box #input-box {
    display: flex;
}

#input-box {
    resize: none;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

#view-box {
}

.search {
    display: flex;
}

.search input {
    width: 50%;
}

p {
    margin: 5px 0;
}

.task {
    background: #212121;
    margin-bottom: 10px;
    padding: 5px;
    color: white;
}

.task:last-child {
    margin-bottom: 0;
}

.task .title {
    font-size: 18px;
}

.task .content {
    margin: 5px 0;
    font-size: 16px;
    color: #EEEEEE;
    border: 2px solid white;
    padding: 0 5px;
}

.task .tag a {
    padding: 0 3px;
    margin-right: 5px;
}

.c0 {background: #B71C1C;}
.c1 {background: #880E4F;}
.c2 {background: #4A148C;}
.c3 {background: #311B92;}
.c4 {background: #1A237E;}
.c5 {background: #0D47A1;}
.c6 {background: #01579B;}
.c7 {background: #006064;}
.c8 {background: #004D40;}
.c9 {background: #1B5E20;}
.c10 {background: #33691E;}
.c11 {background: #827717;}
.c12 {background: #F57F17;}
.c13 {background: #FF6F00;}
.c14 {background: #E65100;}
.c15 {background: #BF360C;}
.c16 {background: #3E2723;}
.c17 {background: #263238;}

#preview {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4em;
    font-size: 16px;
    height: 26px;
}

.tool {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
}

.tool button {
    font-size: 16px;
    width: 2em;
    height: 26px;
}

@media (max-width: 640px) {
    .box {
        width: 100%;
    }
    .h {
        display: none;
    }
    #preview {
        display: block;
    }
    .tool {
        display: block;
    }
    #input-box {
        padding-bottom: 36px;
    }
    #view-box {
        padding-bottom: 26px;
    }
}
